body
{
background-image:url("file:///D:/HTML/Images/airpic.jpg");	
background-size:cover;
background-repeat:no-repeat;

}

.container{
	
color: black;
text-align:center;
}
.text
{
width:30%;
padding:7px 10px;
margin:10px 0 0 35px;
display:inline-block;
border:1px solid #ccc;
border radius:3px;
box-sizing:border box;	

}
input[type=submit]
{
width:60%;
padding:3px 5px;
margin:2px 0;
display:inline-block;
border:1px solid #ccc;
border radius:7px;
box-sizing:border box;	
}
#submitbtn
{
width:50%;
text-weight:bold;
}


input[type=date]{
	width:30%;
padding:7px 10px;
margin:10px 0 0 35px;
display:inline-block;
border:1px solid #ccc;
border radius:3px;
box-sizing:border box;	
	
}